/* grid */
.ac-grid-p\:\:cols-100{
    display:grid;
    grid-template-columns: minmax(0,1fr);
}
.ac-grid-p\:\:cols-50-50{
    display:grid;
    grid-template-columns: minmax(0,1fr);
}
.ac-grid-p\:\:cols-70-30{
    display:grid;
    grid-template-columns: minmax(0,2.35fr);
}
.ac-grid-p\:\:cols-30-70{
    display:grid;
    grid-template-columns: minmax(0,1fr);
}
.ac-grid-p\:\:cols-75-25{
    display:grid;
    grid-template-columns: minmax(0,3fr);
}
.ac-grid-p\:\:cols-25-75{
    display:grid;
    grid-template-columns: minmax(0,1fr);
}
.ac-grid-p\:\:cols-66-33{
    display:grid;
    grid-template-columns: minmax(0,1.8fr);
}
.ac-grid-p\:\:cols-33-66{
    display:grid;
    grid-template-columns: minmax(0,1fr);
}
@container (min-width: 481px){
    .ac-grid-p\:\:cols-50-50{
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .ac-grid-p\:\:cols-70-30{
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .ac-grid-p\:\:cols-30-70{
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .ac-grid-p\:\:cols-75-25{
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .ac-grid-p\:\:cols-25-75{
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .ac-grid-p\:\:cols-66-33{
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .ac-grid-p\:\:cols-33-66{
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}
@container (max-width: 576px){
    .xs\(ac-grid-p\:\:cols-100\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .xs\(ac-grid-p\:\:cols-50-50\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .xs\(ac-grid-p\:\:cols-70-30\){
        display:grid;
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .xs\(ac-grid-p\:\:cols-30-70\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .xs\(ac-grid-p\:\:cols-75-25\){
        display:grid;
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .xs\(ac-grid-p\:\:cols-25-75\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .xs\(ac-grid-p\:\:cols-66-33\){
        display:grid;
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .xs\(ac-grid-p\:\:cols-33-66\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}
@container (min-width: 576px){
    .sm\(ac-grid-p\:\:cols-100\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .sm\(ac-grid-p\:\:cols-50-50\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .sm\(ac-grid-p\:\:cols-70-30\){
        display:grid;
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .sm\(ac-grid-p\:\:cols-30-70\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .sm\(ac-grid-p\:\:cols-75-25\){
        display:grid;
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .sm\(ac-grid-p\:\:cols-25-75\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .sm\(ac-grid-p\:\:cols-66-33\){
        display:grid;
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .sm\(ac-grid-p\:\:cols-33-66\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}
@container (min-width: 769px){
    .md\(ac-grid-p\:\:cols-100\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .md\(ac-grid-p\:\:cols-50-50\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .md\(ac-grid-p\:\:cols-70-30\){
        display:grid;
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .md\(ac-grid-p\:\:cols-30-70\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .md\(ac-grid-p\:\:cols-75-25\){
        display:grid;
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .md\(ac-grid-p\:\:cols-25-75\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .md\(ac-grid-p\:\:cols-66-33\){
        display:grid;
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .md\(ac-grid-p\:\:cols-33-66\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}
@container (min-width: 992px){
    .lg\(ac-grid-p\:\:cols-100\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .lg\(ac-grid-p\:\:cols-50-50\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .lg\(ac-grid-p\:\:cols-70-30\){
        display:grid;
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .lg\(ac-grid-p\:\:cols-30-70\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .lg\(ac-grid-p\:\:cols-75-25\){
        display:grid;
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .lg\(ac-grid-p\:\:cols-25-75\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .lg\(ac-grid-p\:\:cols-66-33\){
        display:grid;
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .lg\(ac-grid-p\:\:cols-33-66\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}
@container (min-width: 1200px){
    .xl\(ac-grid-p\:\:cols-1\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .xl\(ac-grid-p\:\:cols-100\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .xl\(ac-grid-p\:\:cols-50-50\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .xl\(ac-grid-p\:\:cols-70-30\){
        display:grid;
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .xl\(ac-grid-p\:\:cols-30-70\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .xl\(ac-grid-p\:\:cols-75-25\){
        display:grid;
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .xl\(ac-grid-p\:\:cols-25-75\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .xl\(ac-grid-p\:\:cols-66-33\){
        display:grid;
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .xl\(ac-grid-p\:\:cols-33-66\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}
@container (min-width: 1400px){
    .xxl\(ac-grid-p\:\:cols-1\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .xxl\(ac-grid-p\:\:cols-100\){
        display:grid;
        grid-template-columns: minmax(0,1fr);
    }
    .xxl\(ac-grid-p\:\:cols-50-50\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .xxl\(ac-grid-p\:\:cols-70-30\){
        display:grid;
        grid-template-columns: minmax(0,2.35fr) minmax(0,1fr);
    }
    .xxl\(ac-grid-p\:\:cols-30-70\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .xxl\(ac-grid-p\:\:cols-75-25\){
        display:grid;
        grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    }
    .xxl\(ac-grid-p\:\:cols-25-75\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,3fr);
    }
    .xxl\(ac-grid-p\:\:cols-66-33\){
        display:grid;
        grid-template-columns: minmax(0,1.8fr) minmax(0,1fr);
    }
    .xxl\(ac-grid-p\:\:cols-33-66\){
        display:grid;
        grid-template-columns: minmax(0,1fr) minmax(0,1.8fr);
    }
}